@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.spline-wrapper iframe {
  pointer-events: none;
}

/* Hide only the Spline logo */
.spline-watermark {
  display: none !important;
}

/* Hide the "Built with Spline" text */
.spline-wrapper > div:last-child > div:last-child {
  display: none !important;
}

.spline-wrapper iframe::after{
  display: none !important;
}

.spline-wrapper canvas + div {
  display: none !important;
}
div[data-spline-loaded="true"] > div:not(:first-child) {
  display: none !important;
}

